.hover-box-wrapper{
    position: absolute;
    visibility: hidden;
}

.hover-box{
    all: initial;
    display: block;
    position: absolute;
    min-width: 250px;
    min-height: 100px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    z-index: 999999;
    background-color: antiquewhite;
    
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 15pt;
    
}

.hover-box-table{
    position: relative;
}

.hover-text{
    position: relative;
    display: inline-block;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
}

.valid-entry{
    color: black;
}

.invalid-entry{
    color: red;
}

.hover-info{
    
}


.crypto-suggestion{
    background-color: white;
    
}

.crypto-suggestion:hover {
    background-color: lightgrey;
}

.close-button{
    width: 25px;
    height: 25px;
    
}

.status-bar{
    font-size: 8pt;
}
