.tooltipster-content{
    min-width: 297px;
    min-height: 117px;
}

.hover-box{
    all: initial;
    display: block;
    position: relative;
    min-width: 269px;
    min-height: 105px;
    z-index: 999999;
    
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 13pt;
    
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
	background: lightgray;
}

.hover-box-table{
    position: relative;
}

.hover-text{
    position: relative;
    display: inline-block;
    border-color: black;
    border-width: 1px;
    border-style: dashed;
}

.valid-entry{
    color: black;
}

.invalid-entry{
    color: red;
}

.hover-info{
    
}


.crypto-suggestion{
    background-color: white;
    
}

.crypto-suggestion:hover {
    background-color: lightgrey;
}

.close-button{
    width: 25px;
    height: 25px;
    
}

.status-bar{
    font-size: 8pt;
}
